<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/AllModules.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav-container">
      <nav>
        <div class="logo"></div>
        <div class="nav-links">
          <ul>
            <div class="dropdown">
              <button class="dropbtn">Articles</button>
              <div class="dropdown-content">
                <a href="MyArticles.html">My Articles</a>
                <a href="NewArticle.html">Write New Article</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Modules</button>
              <div class="dropdown-content">
                <a href="AllModules.html">All Modules</a>
                <a href="NewModule.html">New Module</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Products</button>
              <div class="dropdown-content">
                <a href="AllProducts.html">All Products</a>
                <a href="NewProduct.html">New Products</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Sessions</button>
              <div class="dropdown-content">
                <a href="AllSessions.html">All Sessions</a>
              </div>
            </div>
            <div class="logoutBtn">
              <a href="">
                <img
                  src="../public/assets/logOut.png"
                  alt=""
                  style="height: 30px; margin: 5px;"
                />
              </a>
            </div>
          </ul>
        </div>
      </nav>
    </div>
    <section>
      <h1>My Articles</h1>
      <div class="table">
        <table>
          <tr class="header">
            <td>Thum.</td>
            <td>Article Name</td>
            <td>Publisher's Name</td>
            <td>Date</td>
          </tr>
          <tr>
            <td style="padding-top:5px ;">
              <img src="../public/assets/demo1.png" alt="" />
            </td>
            <td><a href="">Module Name</a></td>
            <td>Catagory</td>
            <td>Price (regu.)</td>
          </tr>
          <tr>
            <td><img src="../public/assets/demo1.png" alt="" /></td>
            <td><a href="">Module Name</a></td>
            <td>Catagory</td>
            <td>Price (regu.)</td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
