<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/AllModules.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav-container">
      <nav>
        <div class="logo"></div>
        <div class="nav-links">
          <ul>
            <div class="dropdown">
              <button class="dropbtn">Articles</button>
              <div class="dropdown-content">
                <a href="/admin/articles">My Articles</a>
                <a href="/admin/createNewArticle">Write New Article</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Modules</button>
              <div class="dropdown-content">
                <a href="/admin/modules">All Modules</a>
                <a href="/admin/createNewModule">New Module</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Products</button>
              <div class="dropdown-content">
                <a href="/admin/products">All Products</a>
                <a href="/admin/createNewProduct">New Products</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Sessions</button>
              <div class="dropdown-content">
                <a href="/admin/sessions">All Sessions</a>
              </div>
            </div>
            <div class="logoutBtn">
              <a href="/auth/signout">
                <img
                  src="../public/assets/logOut.png"
                  alt=""
                  style="height: 30px; margin: 5px;"
                />
              </a>
            </div>
          </ul>
        </div>
      </nav>
    </div>
    <section>
      <h1>My Articles</h1>
      <div class="table">
        <table>
          <tr class="header">
            <td>Thum.</td>
            <td>Article Name</td>
            <td>Publisher's Name</td>
            <td>Date</td>
          </tr>
          <% if (artThumbnailArray!="") { %>
           <% for( let index = 0; index < artThumbnailArray.length; index++ ) { %>
            <tr>
              <td style="padding-top:5px ;">
                <img src="../uploads/articles/thumbnail/<%= artThumbnailArray[index] %>"  alt="" />
              </td>
              <td><a href=""><%= artNameArray[index] %> </a></td>
              <td><%=artPublisherArray[index] %></td>
              <td><%= artDopArray[index] %> </td>
            </tr>
           <% } %>
          <% } %>
          
          
        </table>
      </div>
    </section>
  </body>
</html>
