<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/Medication.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../public/css/slick/slick-theme.css"/>
</head>
<body>
    <div class="nav-container">
        <nav>
            <div class="logo"><img src="" alt=""> <h1>LOGO</h1></div>
            <ul class="nav-links">
                <li><a href="#home">Medication counseling</a></li>
                <li><a href="#writings">Entrepreneurship counseling</a></li>
                <li><a href="#aboutme">Career counseling</a></li>
                <li><a href="#designs">Diet counseling</a></li> 
                <li><a href="#arts">Products</a></li>
                <li><a href="#arts">Articles</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
    <section class="top">
        <div class="heading">
            <h1>Entrepreneurship counseling</h1>
        </div>
        <div class="your-class">
            <div>
                <div class="card">
                    <img src="../public/assets/counsiling.png" alt="">
                    <div class="disc">
                        <h1>Module Heading</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, aperiam.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <img src="../public/assets/counsiling.png" alt="">
                    <div class="disc">
                        <h1>Module Heading</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, aperiam.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <img src="../public/assets/counsiling.png" alt="">
                    <div class="disc">
                        <h1>Module Heading</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, aperiam.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <img src="../public/assets/counsiling.png" alt="">
                    <div class="disc">
                        <h1>Module Heading</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, aperiam.</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="info">
              <div class="context">
                  <h1>Entrepreneurship counseling</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Odio debitis consectetur, dolorum iure ab amet perspiciatis eius 
                      ipsam obcaecati adipisci sint error cum ratione culpa laborum magnam 
                      repellat sit asperiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Odio debitis consectetur, dolorum iure ab amet perspiciatis eius 
                      ipsam obcaecati adipisci sint error cum ratione culpa laborum magnam 
                      repellat sit asperiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Odio debitis consectetur, dolorum iure ab amet perspiciatis eius 
                      ipsam obcaecati adipisci sint error cum ratione culpa laborum magnam 
                      repellat sit asperiores!</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Odio debitis consectetur, dolorum iure ab amet perspiciatis eius 
                        ipsam obcaecati adipisci sint error cum ratione culpa laborum magnam 
                        repellat sit asperiores!</p>
              </div>
              <div class="sessionForm">
                  <h1>Book Your Session Now!!!</h1>
                  <form action="user/Entrepreneurship" method="POST">
                      <div class="field">
                          <p>Name</p>
                          <input type="text" required>
                      </div>
                      <div class="field">
                        <p>Email</p>
                        <input type="email" required>
                      </div>
                      <div class="field">
                        <p>Phone</p>
                        <input type="number" required>
                      </div>
                      <div class="date">
                        <p>Date</p>
                        <input  type="date" required>
                      </div>
                      <div class="time">
                        <p>Time</p>
                        <input  type="time" required>
                      </div>
                      
                      <button>Book a session now</button>
                  </form>
              </div>
          </div>
    </section>
    <section class="knowledgeCenter">
        <h1>Knowledge Center</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
           Vero iure officia earum, omnis hic delectus corporis! Dolor omnis 
           quibusdam distinctio quis labore voluptates autem aut vitae officiis 
           debitis, suscipit beatae.</p>
        <div class="allcards">
            <div class="card">
                <img src="../public/assets/vagies.png" alt="">
                <div class="desc">
                    <a href="">
                    <p class="mName">Module Name</p>
                    <p class="price">Rs. 500</p>
                    <p class="catagory">Medication</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ullam?</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="../public/assets/vagies.png" alt="">
                <div class="desc">
                    <a href="">
                    <p class="mName">Module Name</p>
                    <p class="price">Rs. 500</p>
                    <p class="catagory">Medication</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ullam?</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="../public/assets/vagies.png" alt="">
                <div class="desc">
                    <a href="">
                    <p class="mName">Module Name</p>
                    <p class="price">Rs. 500</p>
                    <p class="catagory">Medication</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ullam?</p>
                </a>
                </div>
            </div>
            <div class="card">
                <img src="../public/assets/vagies.png" alt="">
                <div class="desc">
                    <a href="">
                    <p class="mName">Module Name</p>
                    <p class="price">Rs. 500</p>
                    <p class="catagory">Medication</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ullam?</p>
                </a>
                </div>
            </div>
            <div class="card">
                <img src="../public/assets/vagies.png" alt="">
                <div class="desc">
                    <a href="">
                    <p class="mName">Module Name</p>
                    <p class="price">Rs. 500</p>
                    <p class="catagory">Medication</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ullam?</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="../public/assets/vagies.png" alt="">
                <div class="desc">
                    <a href="">
                    <p class="mName">Module Name</p>
                    <p class="price">Rs. 500</p>
                    <p class="catagory">Medication</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ullam?</p>
                    </a>
                </div>
            </div>
    </section>
    <section class="footer">
        <div class="address">
            <h1>Address</h1>
            <p>Pushp Vihar, Sector 3 MB Road, New Delhi 110017</p>
        </div>
        <div class="contact">
            <h1>Contacts</h1>
            <p>Mobile: +91 9416508383</p>
            <a href="">Email : abc@gmail.com</a>
        </div>
        <div class="services">
            <h1>Services</h1>
            <ul>
                <li><a href="">Medication counseling</a></li>
                 <li><a href="">Entrepreneurship counseling</a></li>
                 <li><a href="">Career counseling</a></li>
                 <li><a href="">Diet counseling</a></li>
                 <li><a href="">Medical Products</a></li>
                 
            </ul>
          
        </div>
        <div class="workhours">
            <h1>Work hours</h1>
            <p>Mon-Sat : 9:00 AM To 6:00 PM</p>
            <p>Sun : 10:00 AM To 2:00 PM</p>
        </div>
        <div class="socials">
            <h1>Socials</h1>
            <div class="facebook">
                <img src="../public/assets/icons8-facebook-50.png" alt="">
                <a href="">Facebook</a>
            </div>
            <div class="twitter">
                <img src="../public/assets/icons8-twitter-50.png" alt="">
                <a href="">Twitter</a>
            </div>
            <div class="youtube">
                <img src="../public/assets/icons8-play-button-50.png" alt="">
                <a href="">YouTube</a>
            </div>
        </div>
        <div class="credits">
            Made in India | Designed and Developed in By Sukrut, Jaskirat & Sumit
        </div>
    </section>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../public/css/slick/slick.min.js"></script>
    <script>
      $('.your-class').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows:true,
  autoplay: true,
  autoplaySpeed: 2000,

});
    </script>
    <script src="../public/js/nav.js"></script>
</body>
</html>