doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Index Page
        script(src="../public/js/index.js")
        link(rel="stylesheet", href="../public/css/index.css")

    body
    p #{welcomeMessage}