<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ATMx | Products</title>
    <link rel="stylesheet" href="../public/css/ProductSelling.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav-container">
      <nav>
        <a href="/">
          <div class="logo"><img src="" alt="">
              <h1>LOGO</h1>
          </div>
          </a>
        <ul class="nav-links">
          <li>
            <a href="/user/MedicationCounseling">Medication counseling</a>
          </li>
          <li>
            <a href="/user/EntrepreneurshipCounseling"
              >Entrepreneurship counseling
            </a>
          </li>
          <li><a href="/user/CareerCounseling">Career counseling</a></li>
          <li><a href="/user/DietCounseling">Diet counseling</a></li>
          <li><a href="/user/Products">Products</a></li>
          <li><a href="/user/Articles">Articles</a></li>
          <li><a href="/user/Articles">Dashboard</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </div>
    <section class="heading">
      <h1>Products</h1>
    </section>
    <section class="inputFields">
      <p>Search</p>
      <input type="text" placeholder="Search by name or manf. company" />
    </section>
    <section class="products">
      <% for (const product of allProducts) { %>
          <div class="card">
            <img src="../uploads/products/<%=product.imgaddress %>" alt="" />
            <div class="name-price">
              <p><%= product.brandname %></p>
              <p class="price">₹ <%=product.mrp %></p>
            </div>
            <button id="myBtn">Buy Now</button>
          </div>
        <% } %>
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>Fill In your Address</p>
            <div class="field">
              <label for="">Flat, House No., Building, Apartment</label>
              <input type="text">
            </div>
            <div class="field">
              <label for="">Area, Coloney, Street</label>
              <input type="text">
            </div>
            <div class="field">
              <label for="">Landmark, City/ Town</label>
              <input type="text">
            </div>
            <div class="field">
              <label for="">Pin Code</label>
              <input type="number">
            </div>
            <button>Proceed to Pay</button>
          </div>
          
        
        </div>
    </section>
    <section class="footer">
      <div class="address">
        <h1>Address</h1>
        <p>Pushp Vihar, Sector 3 MB Road, New Delhi 110017</p>
      </div>
      <div class="contact">
        <h1>Contacts</h1>
        <p>Mobile: +91 9416508383</p>
        <a href="">Email : abc@gmail.com</a>
      </div>
      <div class="services">
        <h1>Services</h1>
        <ul>
          <li>
            <a href="/user/MedicationCounseling">Medication counseling</a>
          </li>
          <li>
            <a href="/user/EntrepreneurshipCounseling"></a>
              Entrepreneurship counseling
            </a>
          </li>
          <li><a href="/user/CareerCounseling">Career counseling</a></li>
          <li><a href="/user/DietCounseling">Diet counseling</a></li>
          <li><a href="/user/Products">Products</a></li>
          <li><a href="/user/Articles">Articles</a></li>
        </ul>
      </div>
      <div class="workhours">
        <h1>Work hours</h1>
        <p>Mon-Sat : 9:00 AM To 6:00 PM</p>
        <p>Sun : 10:00 AM To 2:00 PM</p>
      </div>
      <div class="socials">
        <h1>Socials</h1>
        <div class="facebook">
          <img src="../public/assets/icons8-facebook-50.png" alt="" />
          <a href="">Facebook</a>
        </div>
        <div class="twitter">
          <img src="../public/assets/icons8-twitter-50.png" alt="" />
          <a href="">Twitter</a>
        </div>
        <div class="youtube">
          <img src="../public/assets/icons8-play-button-50.png" alt="" />
          <a href="">YouTube</a>
        </div>
      </div>
      <div class="credits">
        Made in India | Designed and Developed in By Sukrut, Jaskirat & Sumit
      </div>
    </section>
    <script src="../public/js/nav.js"></script>
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");
      
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      
      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
  </body>
</html>
