<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav-container">
      <nav>
        <div class="logo">
          <img src="" alt="" />
          <h1>LOGO</h1>
        </div>
        <ul class="nav-links">
          <li>
            <a href="/user/MedicationCounseling">Medication counseling</a>
          </li>
          <li>
            <a href="/user/EntrepreneurshipCounseling">
              Entrepreneurship counseling
            </a>
          </li>
          <li><a href="/user/CareerCounseling">Career counseling</a></li>
          <li><a href="/user/DietCounseling">Diet counseling</a></li>
          <li><a href="/user/Products">Products</a></li>
          <li><a href="/user/Articles">Articles</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </div>
    <section>
      <h1>Log In</h1>
      <div class="loginContainer">
        <form action="/auth/login" method="POST">
          <div class="emailField">
            <p>Email</p>
<<<<<<< HEAD
            <input type="email"  name = "email"/>
=======
            <input type="text" name="email" />
>>>>>>> 9661c9205c8bc7162bf73cb21f3338d899b53273
          </div>
          <div class="passwordField">
            <p>Password</p>
            <input type="password" name="password" />
          </div>
          <button type="submit">Log In</button>
        </form>
        <a class="forgot" href="">Forgot Password?</a>
        <div class="adminLogin">
          <a href="adminLogIn.html">
            <img src="../public/assets/clientBtn.png" alt="" />
          </a>
        </div>
      </div>
      <div class="pageShift">
        <p>Not a Member ?</p>
        <button>
          <p>Get Membership</p>
          <img src="../public/assets/frontArrow.png" alt="" />
        </button>
      </div>
    </section>

    <script src="../public/js/nav.js"></script>
  </body>
</html>
