<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap"rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../public/css/particularModule.css">
</head>
<body>
    <div class="nav-container">
        <nav>
            <div class="logo"><img src="" alt=""> <h1>LOGO</h1></div>
            <ul class="nav-links">
                <li><a href="/user/MedicationCounseling">Medication counseling</a></li>
                <li><a href="/user/EntrepreneurshipCounseling">Entrepreneurship counseling</a></li>
                <li><a href="/user/CareerCounseling">Career counseling</a></li>
                <li><a href="/user/DietCounseling">Diet counseling</a></li>
                <li><a href="/user/Products">Products</a></li>
                <li><a href="/user/Articles">Articles</a></li>
                <li><a href="/user/Articles">Dashboard</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
    <div class="thumbnail">
        <h1>Module Name | Catagory</h1>
    </div>
    <div class="content1">
        <div class="video-section">
            <video src="" controls></video>
            <div class="info">
                <h1>Video Name</h1>
                <h2>July 07, 2020. | Publisher's Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Consectetur vitae temporibus quibusdam magni laudantium dolorem
                      ullam illum incidunt nemo deserunt. Perferendis quam nisi possimus
                       molestiae. Vero beatae in quam porro!</p>
            </div>
        </div>
        <div class="discussion">
            <div class="box">
                <h1>Discussion Box</h1>
                <div class="messages">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sunt hic consectetur 
                        voluptas! Quod voluptas, sint porro ullam veniam vitae.</p>
                    <h3>-Messenger Name, July 12, 2020</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sunt hic consectetur 
                        voluptas! Quod voluptas, sint porro ullam veniam vitae.</p>
                    <h3>-Messenger Name, July 12, 2020</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sunt hic consectetur 
                        voluptas! Quod voluptas, sint porro ullam veniam vitae.</p>
                    <h3>-Messenger Name, July 12, 2020</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sunt hic consectetur 
                        voluptas! Quod voluptas, sint porro ullam veniam vitae.</p>
                    <h3>-Messenger Name, July 12, 2020</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sunt hic consectetur 
                        voluptas! Quod voluptas, sint porro ullam veniam vitae.</p>
                    <h3>-Messenger Name, July 12, 2020</h3>
                    
                </div>
                <form action="">
                    <textarea name="" id="" rows="4"></textarea>
                    <button>Post</button>
                </form>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="text">
            <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Harum aspernatur ea quis deleniti maxime? Cumque commodi sed, 
             possimus incidunt laboriosam accusamus, corrupti in vel repellat 
             dolores blanditiis ea optio perferendis? Minus nobis esse modi amet 
             dignissimos sequi, blanditiis libero dolorem quo, distinctio fugiat quibusdam similique.
              Fugit debitis error nesciunt labore iste animi! Impedit facilis natus eum nostrum neque tempora,
               at amet unde voluptatibus saepe sapiente odio in quisquam tempore praesentium odit placeat quasi 
               deserunt quam numquam! Officia voluptate, excepturi facere animi inventore, facilis neque nulla
                cum adipisci quas dolorem saepe odit atque accusantium aliquam ad. Quasi odio distinctio id ab
                 vitae alias veritatis, nihil eius eveniet esse quos temporibus. Quibusdam officiis magnam 
                 consequatur fugit facere? Maiores atque vero asperiores quisquam nulla consequuntur autem 
                 quaerat ea nisi. Similique ratione veniam nobis cupiditate eveniet? Accusantium odit numquam 
                 fugiat consequatur tenetur fugit temporibus consectetur molestias voluptatum sint ab nulla officia 
                 molestiae magni neque vero ducimus, deserunt est, harum nobis incidunt iusto sit quaerat. Itaque, 
                 aspernatur? Porro quos voluptas nam unde ipsa magni repellat quaerat illum? Ipsam illo modi quis 
                 numquam consequatur quos rem veniam cumque, fuga, laudantium molestias. Fuga laudantium rem, ipsam
                  voluptatibus fugiat et aliquam laboriosam, <br><br>
                  iure a doloremque obcaecati minus sint totam nihil quidem 
                  id labore similique aperiam enim iste, dolorem nobis aspernatur. Recusandae assumenda inventore voluptatum
                   maiores unde illum asperiores rem qui, porro dolore consequatur modi omnis? Neque magnam culpa non maiores
                    aperiam facilis. Temporibus reiciendis velit doloremque laudantium exercitationem ab et consectetur 
                    accusamus repudiandae? Ipsum, amet beatae numquam hic, necessitatibus quos ad ipsa rem voluptas 
                    praesentium quas excepturi maxime totam perferendis corrupti dolores officiis voluptatem odio 
                    quia provident sapiente. Aliquid, recusandae necessitatibus quisquam eligendi sit nostrum provident
                     saepe odit unde laudantium incidunt! Quaerat animi, necessitatibus, amet hic sapiente rem ullam 
                     iste minus eum sequi nemo unde consequatur illo delectus pariatur doloribus velit? Molestiae 
                    ipsum consectetur modi error id veniam quisquam, facilis temporibus. Aut earum praesentium sint
                    ullam assumenda itaque, consequuntur consectetur laborum velit voluptatem accusamus. Reiciendis
                    quo eos commodi sed illo perspiciatis neque alias consequatur blanditiis tenetur molestias 
                    nesciunt illum nobis suscipit, dolores cumque officia mollitia, a est iusto harum voluptate.
                    Aliquam fugiat excepturi unde eligendi sint eum maxime perferendis autem ratione architecto
                    voluptatum cumque quia assumenda, modi atque
                    <br><br>
                     harum accusantium incidunt beatae ex animi 
                    commodi voluptatibus! Laboriosam expedita eius illum, iusto error rerum. Quibusdam, praesentium
                    nulla harum quos sed officiis, necessitatibus aperiam ut sunt veniam quasi dolorem eius 
                    tempore! Nihil eligendi odit sunt accusantium adipisci officiis nesciunt nostrum inventore
                    exercitationem voluptas? Cumque fugit distinctio molestias accusamus repellendus. Accusantium 
                    eaque laboriosam magni omnis dolore, quo et enim minus. Nobis atque itaque voluptatibus 
                    consequatur non cum veritatis. A consectetur quo quidem unde, laboriosam aliquid iure
                    dolorum provident. Totam dolorem adipisci omnis suscipit amet, quos sunt praesentium, 
                    ad tempore consequatur minima libero nihil cumque labore inventore saepe beatae qui minus
                    iusto quo nobis magnam soluta! Itaque debitis distinctio, voluptate optio est assumenda 
                    dignissimos ea soluta nostrum, quae, atque architecto fugit quam beatae placeat sint 
                    dolorum! Perferendis magni tempore temporibus incidunt praesentium!
                </p>
        </div>
        <div class="images">
            <img src="../public/assets/doctorImg.png" alt="">
        </div>

    </div>





    <script src="../public/js/nav.js"></script>
</body>
</html>