<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module</title>
    <link rel="stylesheet" href="../public/css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/module.css">
</head>
<body>
    <div class="nav-container">
        <nav>
            <div class="logo"><img src="" alt="">
                <h1>LOGO</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/user/MedicationCounseling">Medication counseling</a></li>
                <li><a href="/user/EntrepreneurshipCounseling">Entrepreneurship counseling</a></li>
                <li><a href="/user/CareerCounseling">Career counseling</a></li>
                <li><a href="/user/DietCounseling">Diet counseling</a></li>
                <li><a href="/user/Products">Products</a></li>
                <li><a href="/user/Articles">Articles</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
    <div class="head">
        <img src="../public/assets/vagies.png" alt="">
        <h1 class="title">Module Name | Catagory</h1>
    </div>
    <div class="vp">
        <div class="video-area">
            <video controls>
                <source src="" type="video/mp4">
            </video>
            <h1>Video Title</h1>
            <h2>July 7, 2020 | By Sukrut Patil</h2>
            <p>
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt et obcaecati 
             eaque voluptas veritatis. Aliquam recusandae sint at perferendis delectus corrupti. 
              Sed asperiores debitis pariatur vero corporis sit aliquid voluptates?

            </p>

        </div>
        

        <div class="discussion-box">
            <div class="message-area">
                <h1>Discussion Box</h1>
                <div class="opinion">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Nesciunt et obcaecati eaque voluptas veritatis. Aliquam recusanda.</p>
                    <h2>- JOhn Doe</h2>
                </div>
                <div class="opinion">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Nesciunt et obcaecati eaque voluptas veritatis. Aliquam recusanda.</p>
                    <h2>- JOhn Doe</h2>
                </div>
                <div class="opinion">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Nesciunt et obcaecati eaque voluptas veritatis. Aliquam recusanda.</p>
                    <h2>- JOhn Doe</h2>
                </div>
                <div class="opinion">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Nesciunt et obcaecati eaque voluptas veritatis. Aliquam recusanda.</p>
                    <h2>- JOhn Doe</h2>
                </div>

                <form action="">
                    <textarea name="post" id="post" rows="5"></textarea><br>
                    <button>Post</button>
                </form>
            </div>
            
     
           
        </div>
    </div>

    <div class="article-section">
        <div class="article">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies mauris in nisi aliquam, a
                hendrerit arcu malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam id 
                enim ut massa faucibus tempus in sit amet enim. Suspendisse potenti. Phasellus at venenatis erat. 
                Sed nec consequat ex. Sed rhoncus turpis sed sem viverra bibendum. Nullam ultrices rhoncus cursus.
                 Vestibulum a odio elementum, porta risus vitae, iaculis erat. Quisque nec lacinia justo. Integer 
                 finibus turpis nec cursus sodales. Vestibulum et euismod sem. Donec placerat vehicula enim, non
                  pulvinar eros venenatis at. Praesent convallis arcu non mollis scelerisque. Nullam blandit neque 
                  magna, in aliquam lorem consequat ut. Donec neque sem, scelerisque vel molestie ac, varius sed diam.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies mauris in nisi aliquam, a
             hendrerit arcu malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam id 
             enim ut massa faucibus tempus in sit amet enim. Suspendisse potenti. Phasellus at venenatis erat. 
             Sed nec consequat ex. Sed rhoncus turpis sed sem viverra bibendum. Nullam ultrices rhoncus cursus.
              Vestibulum a odio elementum, porta risus vitae, iaculis erat. Quisque nec lacinia justo. Integer 
              finibus turpis nec cursus sodales. Vestibulum et euismod sem. Donec placerat vehicula enim, non
               pulvinar eros venenatis at. Praesent convallis arcu non mollis scelerisque. Nullam blandit neque 
               magna, in aliquam lorem consequat ut. Donec neque sem, scelerisque vel molestie ac, varius sed diam.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies mauris in nisi aliquam, a
             hendrerit arcu malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam id 
             enim ut massa faucibus tempus in sit amet enim. Suspendisse potenti. Phasellus at venenatis erat. 
             Sed nec consequat ex. Sed rhoncus turpis sed sem viverra bibendum. Nullam ultrices rhoncus cursus.
              Vestibulum a odio elementum, porta risus vitae, iaculis erat. Quisque nec lacinia justo. Integer 
              finibus turpis nec cursus sodales. Vestibulum et euismod sem. Donec placerat vehicula enim, non
               pulvinar eros venenatis at. Praesent convallis arcu non mollis scelerisque. Nullam blandit neque 
               magna, in aliquam lorem consequat ut. Donec neque sem, scelerisque vel molestie ac, varius sed diam.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies mauris in nisi aliquam, a
             hendrerit arcu malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam id 
             enim ut massa faucibus tempus in sit amet enim. Suspendisse potenti. Phasellus at venenatis erat. 
             Sed nec consequat ex. Sed rhoncus turpis sed sem viverra bibendum. Nullam ultrices rhoncus cursus.
              Vestibulum a odio elementum, porta risus vitae, iaculis erat. Quisque nec lacinia justo. Integer 
              finibus turpis nec cursus sodales. Vestibulum et euismod sem. Donec placerat vehicula enim, non
               pulvinar eros venenatis at. Praesent convallis arcu non mollis scelerisque. Nullam blandit neque 
               magna, in aliquam lorem consequat ut. Donec neque sem, scelerisque vel molestie ac, varius sed diam.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies mauris in nisi aliquam, a
             hendrerit arcu malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam id 
             enim ut massa faucibus tempus in sit amet enim. Suspendisse potenti. Phasellus at venenatis erat. 
             Sed nec consequat ex. Sed rhoncus turpis sed sem viverra bibendum. Nullam ultrices rhoncus cursus.
              Vestibulum a odio elementum, porta risus vitae, iaculis erat. Quisque nec lacinia justo. Integer 
              finibus turpis nec cursus sodales. Vestibulum et euismod sem. Donec placerat vehicula enim, non
               pulvinar eros venenatis at. Praesent convallis arcu non mollis scelerisque. Nullam blandit neque 
               magna, in aliquam lorem consequat ut. Donec neque sem, scelerisque vel molestie ac, varius sed diam.
            </p>

        </div>
        <div class="images">
            <img src="../public/assets/counsiling.png" alt="">
            <img src="../public/assets/counsiling.png" alt="">
        </div>
    </div>

    <section class="footer" >
        <div class="address">
            <h1>Address</h1>
            <p>Pushp Vihar, Sector 3 MB Road, New Delhi 110017</p>
        </div>
        <div class="contact">
            <h1>Contacts</h1>
            <p>Mobile: +91 9416508383</p>
            <a href="">Email : abc@gmail.com</a>
        </div>
        <div class="services">
            <h1>Services</h1>
            <ul>
                <li><a href="/user/MedicationCounseling">Medication counseling</a></li>
                <li><a href="/user/EntrepreneurshipCounseling">Entrepreneurship counseling</a></li>
                <li><a href="/user/CareerCounseling">Career counseling</a></li>
                <li><a href="/user/DietCounseling">Diet counseling</a></li>
                <li><a href="/user/Products">Products</a></li>
                <li><a href="/user/Articles">Articles</a></li>

            </ul>

        </div>
        <div class="workhours">
            <h1>Work hours</h1>
            <p>Mon-Sat : 9:00 AM To 6:00 PM</p>
            <p>Sun : 10:00 AM To 2:00 PM</p>
        </div>
        <div class="socials">
            <h1>Socials</h1>
            <div class="facebook">
                <img src="../public/assets/icons8-facebook-50.png" alt="">
                <a href="">Facebook</a>
            </div>
            <div class="twitter">
                <img src="../public/assets/icons8-twitter-50.png" alt="">
                <a href="">Twitter</a>
            </div>
            <div class="youtube">
                <img src="../public/assets/icons8-play-button-50.png" alt="">
                <a href="">YouTube</a>
            </div>
        </div>
        <div class="credits">
            Made in India | Designed and Developed in By Sukrut, Jaskirat & Sumit
        </div>
    </section>
</body>
<script src="../public/js/nav.js"></script>
</html>