* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo Tammudu 2', cursive;
}

section {
  min-height: 100vh;
  background: url(../assets/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

section h1 {
  text-align: center;
  font-size: 70px;
  color: white;
}

section .card {
  width: 500px;
  height: 100%;
  background: white;
  margin: auto;
  padding: 50px 20px;
  border-radius: 20px;
}

section .card .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0px;
}

section .card .field label {
  line-height: 10px;
}

section .card .field input {
  font-family: 'Roboto', sans-serif;
  padding: 7px;
  border: none;
  background: #D9ECDD;
}

section .card .field select {
  font-family: 'Roboto', sans-serif;
  padding: 7px;
  border: none;
  background: #D9ECDD;
}

section .card button {
  width: 100%;
  font-size: 20px;
  background: #054A29;
  color: white;
  border-radius: 10px;
  border: none;
  padding-top: 10px;
}

section .card a {
  text-decoration: none;
  color: #D70404;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Baloo Tammudu 2', cursive;
  scroll-behavior: smooth;
}

.nav-container {
  position: fixed;
  width: 100%;
  margin: auto;
  background: #054A29;
  z-index: 10;
}

.nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #054A29;
}

.nav-container nav .logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container nav .logo h1 {
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 5px;
}

.nav-container nav .logo img {
  padding: 5px;
  width: 40px;
  height: 40px;
}

.nav-container nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-container nav .nav-links li {
  list-style: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  line-height: 15px;
}

.nav-container nav .nav-links a {
  color: white;
  text-decoration: none;
}

.nav-container nav .burger {
  display: none;
  cursor: pointer;
}

.nav-container nav .burger div {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1312px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    overflow-x: hidden;
  }
  .nav-container {
    position: fixed;
    width: 100%;
    margin: auto;
    background: #054A29;
    z-index: 10;
  }
  .nav-container nav .nav-links {
    position: absolute;
    right: 0;
    height: 97vh;
    top: 7.4vh;
    background-color: #054A29;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-container nav .nav-links .dropdown {
    position: relative;
    display: inline-block;
  }
  .nav-container nav .nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .nav-container nav .nav-links .dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-container nav .nav-links li {
    opacity: 0;
  }
  .nav-container nav .nav-links li a {
    color: white;
  }
  .nav-container nav .burger {
    display: block;
  }
  .nav-container nav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-container nav .nav-passiv {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .nav-container nav .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .nav-container nav .toggle .line2 {
    opacity: 0;
  }
  .nav-container nav .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}
/*# sourceMappingURL=buymembership.css.map */