.head{
    width: 100%;
    height: 350px;
    position: relative;
    img{
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
    .title{
        position: absolute;
        padding: 5px 20px;
        bottom: 10px;
        font-size: 35px;

    }

}
.vp{
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;

    .video-area{
        flex: 1;
     
        video{
            margin-top: 10px;
            width: 90%;
            border-radius: 10px;
        }
        h1{
            font-family: 'Roboto', sans-serif;
            margin-bottom: 20px;
            font-weight: bolder;
        }
        p{
            font-family: 'Roboto', sans-serif;
            margin-bottom: 10px;
            text-align: justify;
            width: 90%;
        }
        h2{
            font-family: 'Roboto', sans-serif;
            margin-bottom: 10px;
            font-weight: bolder;
        }
        margin-bottom: 50px;
    }
    .discussion-box{
        height: 100%;
        flex: 1;
        h1{
            font-family: 'Roboto', sans-serif;
            margin-bottom: 20px;
            font-weight: bolder;

        }
        .message-area{
            padding: 30px;
            border: black 2px solid;
            border-radius: 20px;
            margin: auto;
            .opinion{
                p{
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                h2{
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 20px;
                }
            }
            form{
                width: 100%;
                textarea{
                    width: 100%;
                    font-family: 'Roboto', sans-serif;
                    padding: 10px;
                    font-size: 16px;
                }
                button{
                    font-family: 'Roboto', sans-serif;
                    background: #44B54F;
                    color: white;
                    padding: 10px;
                    width: 20%;
                    font-size: 20px;
                    border: none;
                    outline: none;
                    border-radius: 20px;
                }
            }
        }
     
       
    }
}
.article-section{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;  
  
    .article{
        flex: 1;    
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            text-align: justify;
            width: 95%;
          
        }
    }
    .images{
        flex: 1;
   
        img{
            display: block;   
            margin: 50px auto;
        }
    }
}

@media screen and(max-width:800px){
    .vp{
        flex-direction: column;
        padding: 20px;
        .video-area{
            flex: 1;
         
            video{
                margin-top: 10px;
                width: 100%;
                border-radius: 10px;
            }
        }
        .discussion-box{
            height: 100%;
            flex: 1;
            h1{
                font-family: 'Roboto', sans-serif;
                margin-bottom: 20px;
                font-weight: bolder;
    
            }
            .message-area{
                padding: 15px;
                border: black 2px solid;
                border-radius: 20px;
                margin: auto;
                .opinion{
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    h2{
                        font-family: 'Roboto', sans-serif;
                        margin-bottom: 20px;
                    }
                }
                form{
                    width: 100%;
                    textarea{
                        width: 90%;
                        font-family: 'Roboto', sans-serif;
                        padding: 10px;
                        font-size: 16px;
                        border: solid black 1px;
                        outline: #44B54F;
                    }
                    button{
                        font-family: 'Roboto', sans-serif;
                        background: #44B54F;
                        color: white;
                        padding: 10px;
                        width: 25%;
                        font-size: 20px;
                        border: none;
                        outline: none;
                        border-radius: 20px;
                    }
                }
            }
         
           
        }
    }
    .article-section{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;  
        flex-direction: column;
        .article{
            flex: 1;    
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                text-align: justify;
                width: 95%;
              
            }
        }
        .images{
            flex: 1;
            margin-bottom: 180px;
            img{
                width: 100%;
                display: block;   
                margin: 20px auto;
            }
        }
    }
}

@media screen and(min-width:2900px){
    .vp{
        margin: auto;
        max-width: 1400px;
    }
    .head{
        margin: auto;
        max-width: 1400px;
    }
    .article-section{
        margin: auto;
        max-width: 1400px;
    }
        
}