<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ATMx | Sessions</title>
    <link rel="stylesheet" href="../public/css/sessions.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav-container">
      <nav>
        <div class="logo">
          <img src="" alt="" />
          <h1>LOGO</h1>
        </div>
        <ul class="nav-links">
          <li>
            <a href="/user/MedicationCounseling">Medication counseling</a>
          </li>
          <li>
            <a href="/user/EntrepreneurshipCounseling"
              >Entrepreneurship counseling
            </a>
          </li>
          <li><a href="/user/CareerCounseling">Career counseling</a></li>
          <li><a href="/user/DietCounseling">Diet counseling</a></li>
          <li><a href="/user/Products">Products</a></li>
          <li><a href="/user/Articles">Articles</a></li>
          <li><a href="/user/Articles">Dashboard</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    </div>
    <section class="heading">
        <h1>Dashboard- Sessions</h1>
    </section>
    <div class="sessions">
        <div class="box">
            <div class="card">
                <div class="card-heading">
                    <h1>Diet Counseling</h1>
                    <h1>Feb 7, 2020. | 05:30pm</h1>
                </div>
                <h2>Session Accepted</h2>
                <button>Join Session</button>
            </div>
            <div class="card">
                <div class="card-heading">
                    <h1>Diet Counseling</h1>
                    <h1>Jan 7, 2020. | 05:30pm</h1>
                </div>
                <h2>Session Completed</h2>
                <button>View Report</button>
            </div>
        </div>
    </div>
    <section class="footer">
      <div class="address">
        <h1>Address</h1>
        <p>Pushp Vihar, Sector 3 MB Road, New Delhi 110017</p>
      </div>
      <div class="contact">
        <h1>Contacts</h1>
        <p>Mobile: +91 9416508383</p>
        <a href="">Email : abc@gmail.com</a>
      </div>
      <div class="services">
        <h1>Services</h1>
        <ul>
          <li>
            <a href="/user/MedicationCounseling">Medication counseling</a>
          </li>
          <li>
            <a href="/user/EntrepreneurshipCounseling"></a>
              Entrepreneurship counseling
            </a>
          </li>
          <li><a href="/user/CareerCounseling">Career counseling</a></li>
          <li><a href="/user/DietCounseling">Diet counseling</a></li>
          <li><a href="/user/Products">Products</a></li>
          <li><a href="/user/Articles">Articles</a></li>
        </ul>
      </div>
      <div class="workhours">
        <h1>Work hours</h1>
        <p>Mon-Sat : 9:00 AM To 6:00 PM</p>
        <p>Sun : 10:00 AM To 2:00 PM</p>
      </div>
      <div class="socials">
        <h1>Socials</h1>
        <div class="facebook">
          <img src="../public/assets/icons8-facebook-50.png" alt="" />
          <a href="">Facebook</a>
        </div>
        <div class="twitter">
          <img src="../public/assets/icons8-twitter-50.png" alt="" />
          <a href="">Twitter</a>
        </div>
        <div class="youtube">
          <img src="../public/assets/icons8-play-button-50.png" alt="" />
          <a href="">YouTube</a>
        </div>
      </div>
      <div class="credits">
        Made in India | Designed and Developed in By Sukrut, Jaskirat & Sumit
      </div>
    </section>
    <script src="../public/js/nav.js"></script>
  </body>
</html>
